In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('AdultIncome.csv')
df

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19787 entries, 0 to 19786
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19787 non-null  int64
 1   wc              19787 non-null  object
 2   education       19787 non-null  object
 3   marital status  19787 non-null  object
 4   race            19787 non-null  object
 5   gender          19787 non-null  object
 6   hours per week  19787 non-null  int64
 7   IncomeClass     19787 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.2+ MB

In [4]:
df['marital status'].value_counts()

Married           9285
 Never-married    7056
 Divorced         2917
 Widowed           529
Name: marital status, dtype: int64

In [5]:
df = pd.get_dummies(df, drop_first=True)
df

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [6]:
X = df.drop('IncomeClass_ >50K', axis=1)
Y = df['IncomeClass_ >50K']

In [7]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [8]:
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier()
svc = SVC()

**DecisionTreeClassifier**

In [9]:
from sklearn.model_selection import cross_validate, cross_val_predict
from sklearn.metrics import accuracy_score

In [19]:
cv_results_dtc = cross_validate(dtc, X, Y, cv=10, return_train_score=True, n_jobs=-1, scoring=('accuracy', 'precision', 'recall'))
cv_results_dtc

{'fit_time': array([0.07099891, 0.07799911, 0.08700132, 0.0849998 , 0.07799506,
        0.08199811, 0.08399892, 0.09099603, 0.08299923, 0.08399725]),
 'score_time': array([0.01399994, 0.01000118, 0.0090003 , 0.01100016, 0.0090003 ,
        0.00999999, 0.00999951, 0.00900173, 0.00899863, 0.01000071]),
 'test_accuracy': array([0.77412835, 0.77210712, 0.78473977, 0.75846387, 0.78575038,
        0.79029813, 0.78676099, 0.79322548, 0.77553084, 0.79373104]),
 'train_accuracy': array([0.90408805, 0.90571653, 0.90380728, 0.90571653, 0.90358266,
        0.90380728, 0.90380728, 0.90414959, 0.90532877, 0.90353192]),
 'test_precision': array([0.5787234 , 0.58495146, 0.60674157, 0.54564756, 0.60566449,
        0.61810155, 0.61210762, 0.62280702, 0.583878  , 0.62255965]),
 'train_precision': array([0.8817507 , 0.8845761 , 0.87868769, 0.88320611, 0.87798678,
        0.8724043 , 0.87865683, 0.87151394, 0.86889271, 0.87834054]),
 'test_recall': array([0.52207294, 0.46257198, 0.51823417, 0.49328215, 0.53358925,
        0.53639847, 0.52298851, 0.54510557, 0.51439539, 0.55086372]),
 'train_recall': array([0.73438499, 0.7384353 , 0.73651673, 0.73992752, 0.73630356,
        0.7434968 , 0.73646055, 0.74610957, 0.75442336, 0.73566404])}

In [22]:
cv_results_dtc['train_accuracy'].mean()

0.9043535882172298

In [23]:
cv_results_dtc['test_accuracy'].mean()

0.7814735971379975

In [25]:
# y_pred = cross_val_predict(dtc, X, Y, cv=10, n_jobs=-1)
# y_pred

array([0, 0, 1, ..., 0, 0, 0], dtype=uint8)

In [26]:
# accuracy_score(Y, y_pred)

0.7819275281750644

**RandomForestClassifier**

In [27]:
cv_results_rfc = cross_validate(rfc, X, Y, cv=10, return_train_score=True, n_jobs=-1, scoring=('accuracy', 'precision', 'recall'))
cv_results_rfc

{'fit_time': array([2.50405073, 2.55814219, 2.46104765, 2.38900328, 2.4099977 ,
        2.41899681, 2.39099884, 2.35199833, 2.37100244, 2.37099862]),
 'score_time': array([0.11299849, 0.08999825, 0.10800052, 0.09699702, 0.09799981,
        0.09300184, 0.099998  , 0.09700131, 0.10099912, 0.09199882]),
 'test_accuracy': array([0.79535119, 0.78524507, 0.80242547, 0.77614957, 0.80747852,
        0.79939363, 0.80141486, 0.81395349, 0.79524772, 0.79777553]),
 'train_accuracy': array([0.90408805, 0.90571653, 0.90380728, 0.90571653, 0.90358266,
        0.90375112, 0.90380728, 0.90409344, 0.90532877, 0.90341962]),
 'test_precision': array([0.61693548, 0.61059908, 0.63948498, 0.58091286, 0.64957265,
        0.63616558, 0.63870968, 0.67268623, 0.62236287, 0.6252588 ]),
 'train_precision': array([0.84987098, 0.84974454, 0.84135718, 0.847485  , 0.84389454,
        0.83972603, 0.84116434, 0.84279476, 0.84311487, 0.84830012]),
 'test_recall': array([0.58733205, 0.50863724, 0.57197697, 0.53742802, 0.58349328,
        0.55938697, 0.56896552, 0.57197697, 0.56621881, 0.57965451]),
 'train_recall': array([0.77232999, 0.78000426, 0.78234918, 0.7829887 , 0.77787252,
        0.78422175, 0.78251599, 0.78170966, 0.78703901, 0.77126412])}

In [28]:
cv_results_rfc['train_accuracy'].mean()

0.9043311273482617

In [29]:
cv_results_rfc['test_accuracy'].mean()

0.7974435056464975

**SVM**

In [30]:
cv_results_svc = cross_validate(svc, X, Y, cv=10, return_train_score=True, n_jobs=-1, scoring=('accuracy', 'precision', 'recall'))
cv_results_svc

{'fit_time': array([24.55687189, 23.11887574, 23.45387411, 22.91487288, 23.17187572,
        23.34787393, 23.30687022, 23.30887151, 23.27186966, 23.49687076]),
 'score_time': array([1.56759977, 1.56400108, 1.41700006, 1.47399902, 1.42900324,
        1.41900206, 1.43599987, 1.43200159, 1.45900083, 1.47000384]),
 'test_accuracy': array([0.78221324, 0.76755937, 0.76301162, 0.76856998, 0.78524507,
        0.78322385, 0.77311774, 0.77755308, 0.78008089, 0.77553084]),
 'train_accuracy': array([0.77577493, 0.7771788 , 0.7753257 , 0.7777965 , 0.774708  ,
        0.77459569, 0.77650494, 0.77702285, 0.77505756, 0.77679825]),
 'test_precision': array([0.71226415, 0.65641026, 0.64130435, 0.65517241, 0.74      ,
        0.72463768, 0.69109948, 0.70984456, 0.72631579, 0.67579909]),
 'train_precision': array([0.69519016, 0.69917355, 0.69491525, 0.69902386, 0.68913649,
        0.68924972, 0.69420131, 0.6980198 , 0.69405099, 0.69800885]),
 'test_recall': array([0.28982726, 0.24568138, 0.22648752, 0.25527831, 0.2840691 ,
        0.28735632, 0.25287356, 0.26295585, 0.26487524, 0.2840691 ]),
 'train_recall': array([0.26497548, 0.27051801, 0.26220422, 0.2747815 , 0.26369644,
        0.26247335, 0.27057569, 0.27051801, 0.26113835, 0.26902579])}

In [31]:
cv_results_svc['train_accuracy'].mean()

0.776076320313023

In [32]:
cv_results_svc['test_accuracy'].mean()

0.7756105692174301

# Great Work!